body {
    font-family: "garamond", serif;
    font-size: 26px;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

blockquote {
    font-size: 100%;
}

img {
    height: auto;
    max-width: 100%;
}
